@import "~bootstrap/scss/bootstrap.scss";

.body{
    margin-top: 100px;
}


h1{
    color:rgb(228, 70, 181);
}
.label{
     font-weight: bold;
}

#todosList{
    background-color: rgb(219, 236, 247);
}


